<div class="container">
	<div class="col-md-3 col-sm-2 col-lg-4"></div>
	<div align="center">

		<div ng-if="isEmailEnter">
			<div id="formDiv" class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
				style="width: 385px; height: 215px; margin-top: 100px; box-shadow: 4px 2px 8px #888888;">
				<form name="myform">
					<div class="form-group">
						<h3 align="center" style="color: #1b4ca2">Password Reset</h3>
					</div>
					<hr>
					<div class="form-group">
						<input type="email" ng-model="user.email" class="form-control"
							placeholder="Enter existing email here" name="email"
							ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,6}$/"
							required="required"
							style="border: none; background-color: aliceblue; margin-left: -10px; width: 65%;">
						<span style="color: red;"
							ng-show="myform.email.$error.pattern && myform.email.$touched">
							*Invalid email address.</span> <span
							style="color: red; margin-left: -15px;"> {{ valEmailError
							}}</span>
					</div>
					<div class="form-group">
						<button ng-disabled="myform.$invalid" style="color: blue;"
							ng-click="sendMail(user)">Reset Password</button>
					</div>
				</form>
			</div>
		</div>

		<div ng-if="!isEmailEnter && !isNewPwdEnter">
			<div id="formDiv" class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
				style="width: 565px; height: 265px; margin-top: 100px; box-shadow: 4px 2px 8px #888888; margin-left: -65px;">
				<form name="myform1">
					<div class="form-group">
						<h3 align="center" style="color: #1b4ca2">Enter Security Code</h3>
					</div>
					<hr>
					<div class="form-group">
						<p style="color: slategray;">Please check your email for a
							message with your code. Your code is 4 numbers long.</p>
					</div>
					
					<div class="form-group">
						<input type="text" ng-model="user.otp" class="form-control"
							placeholder="Enter code" name="otp" maxlength="4" min="4"
							required="required"
							style="border: none; background-color: aliceblue; width: 50%; height: 40px;">
						<span style="color: red;"
							ng-show="myform1.otp.$error.pattern && myform1.otp.$touched">
							*Invalid otp.</span> <span style="color: red;"> {{ valOtpError }}</span>
					</div>

					<div class="form-group" ng-show="resendOtp">
						<button style="color: blue;" ng-click="resendOtp1()">Resend
							Otp</button>
					</div>

					<div class="form-group" ng-show="continueBtn">
						<button ng-disabled="myform1.$invalid" style="color: blue;"
							ng-click="validateOtp(user)">Continue</button>
					</div>
				</form>
			</div>
		</div>


		<div ng-if="isNewPwdEnter">
			<div id="formDiv" class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
				style="width: 385px; height: 290px; margin-top: 100px; box-shadow: 4px 2px 8px #888888;">
				<form name="myform">
					<div class="form-group">
						<h3 align="center" style="color: #1b4ca2">Password Reset</h3>
					</div>
					<hr>
					<div class="form-group">
						<input type="password" ng-model="user.password1"
							class="form-control" placeholder="New Password" name="password1"
							ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,20}$/"
							required="required"
							style="border: none; background-color: aliceblue; margin-left: -10px; width: 65%;">
						<span style="color: red;"
							ng-show="myform.password1.$error.pattern && myform.password1.$touched"">
							*Invalid password pattern.</span>
					</div>
					<div class="form-group">
						<input type="password" ng-model="user.password2"
							class="form-control" placeholder="Re-enter Password"
							name="password2" ng-pattern="user.password1" required="required"
							style="border: none; background-color: aliceblue; margin-left: -10px; width: 65%;">
						<span style="color: red;"
							ng-show="myform.password2.$error.pattern"> passwords have
							to match!</span><span style="color: red;"> {{ pwdResetError }}</span>
					</div>
					<div class="form-group">
						<button ng-disabled="myform.$invalid" style="color: blue;"
							ng-click="resetNewPassword(user)">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-2 col-lg-4"></div>
</div>
