
	<div ng-repeat="x in records | filter:searchnotes track by $index" ng-style="setmargintop"
		ng-mouseover="showimages=true" ng-mouseleave="showimages=false" ng-if="x.trash==true">
		<div ng-class="toggleview">
			<div id="cardlistgridview" ng-style="{'background-color':x.color}">
				
				<div ng-click="openModal(x)">
					<div id="header">{{x.title}}</div>
					<div id="content" ng-bind-html="x.description"></div>
				</div>

				<div id="footer">
					<div ng-show="showimages">

						<div class="dropdown btn-group">
							<img src="images/list.png" id="imgiconstyle"
								tooltip-placement='bottom' uib-tooltip="More"
								data-toggle="dropdown">
							<ul class="dropdown-menu">
								<li><a ng-click="deletenote(x.todoId)">Delete forever</a></li>
								<li><a ng-click="restore(x)">Restore</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
